[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

streamz = "*"
blinker = "*"
attrs = "*"
statically = "*"
"pybind11" = "*"
cppimport = "*"
reobject = "*"


[dev-packages]

